h1 {
  text-align: center;
  height: 30px;
  margin: 16px;
}

.area-card {
  width: auto;
  height: auto;
  background-color: red;
  margin: 10px;
  border: 2px solid transparent;
  padding: 10px;
}

.selected {
  border: 2px solid black;
}

.area-cards-holder {
  position: absolute;
  top: 62px;
  right: 10px;
  z-index: 1000;
  background-color: aliceblue;
  max-width: 200px;
  width: fit-content;
}

.login-mask {
  z-index: 1001;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.4);
}

.login-menu {
  background-color: white;
  position: relative;
  left: 50%;
  top: 50%;
  width: fit-content;
  padding: 10px;
  margin: 10px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}