body, html {
  font-family: Tahoma;
  background-color: rgb(245, 245, 245);
}

body {
  margin: 20px
}

h1 {
  text-align: center;
  margin: 10px;
  font-weight: 550;
}

.area-card {
  width: auto;
  height: auto;
  background-color: rgb(240, 240, 240);
  margin: 10px;
  border: 2px solid transparent;
  padding: 10px;
  border-radius: 10px;
}

.area-card:hover {
  transform: scale(0.97);
}

.selected {
  border: 3px dashed rgb(58, 58, 58);
}

.area-cards-holder {
  position: absolute;
  top: 62px;
  right: 10px;
  z-index: 1000;
  background-color: rgb(255, 255, 255);
  max-width: 300px;
  max-height: calc(90% - 30px);
  margin: 10px 0;
  overflow: scroll;
  width: fit-content;
}

.login-mask, .detailed-card-mask {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms ease;
}

.detailed-card-mask.is-open, .login-mask.is-open {
  opacity: 1;
  pointer-events: auto;
}

.detailed-card-mask {
  z-index: 1001;
}

.login-mask {
  z-index: 1002;
}

.login-menu, .detailed-card {
  background-color: white;
  position: relative;
  left: 50%;
  top: 50%;
  width: fit-content;
  padding: 10px;
  margin: 10px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.map-container {
  height: 90%;
  opacity: 0;
  max-height: 500px;
  margin: 0;
  border: 2px solid rgb(212, 212, 212);
  border-radius: 5px;
}

.detailed-card, .login-menu {
  padding: 20px;
  border-radius: 10px;

  .login-menu-username, .login-menu-password {
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  button {
    padding: 10px;
    text-align: center;
    margin: 10px;
    left: 50%;
    position: relative;
    transform: translate(calc(-50% - 10px), 0);
    border-radius: 10px;
  }
}

.profile-page-button {
  background-image: url("/frontend/public/imgs/profile.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 15px;
  width: 40px;
  aspect-ratio: 1;
  border-radius: 3px;
  right: 0;
  top: 0;
  position: absolute;

  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.loading-spinner {
  width: 48px;
  height: 48px;
  border: 5px solid #ffdf77;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  z-index: 1004;
  position: absolute;
  left: calc(50% - 24px);
  top: 50%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

.solid {
  opacity: 1;
}