
.map-page-button {
  background-image: url("/frontend/public/imgs/back.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 15px;
  width: 40px;
  aspect-ratio: 1;
  border-radius: 3px;
  right: 0;
  top: 0;
  position: absolute;
  
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.title-bar {
  margin: 20px;
}

.profile-login-menu {
  left: 50%;
  transform: translate(-50%, 0);
  position: relative;
  display: block;
  width: fit-content;
  border-radius: 5px;
  margin: 15px;

  .login-button {
    text-align: center;
  }
}