
.map-page-button {
  background-image: url("/frontend/public/imgs/back.svg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 15px;
  width: 40px;
  aspect-ratio: 1;
  border-radius: 3px;
  right: 0;
  top: 0;
  position: absolute;
  
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.title-bar {
  margin: 20px;
}

.profile-login-menu, .profile-menu {
  left: 50%;
  transform: translate(-50%, 0);
  position: relative;
  display: grid;
  columns: 2;
  width: fit-content;
  border-radius: 5px;
  margin: 15px;

  input {
    margin: 5px;
  }
}

.profile-login-menu {
  .button-holder {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.profile-menu {
  .button-holder {
    display: flex;

    button {
      align-self: center;
    }
  }
}

.profile-info {
  margin: 10px;
}

.user-name, .user-areas {
  margin: 10px;
  text-align: center;
}

.login-button, .register-button, .logout-button {
  text-align: center;
  padding: 10px;
  margin: 10px auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 10px;
  min-width: 100px;

  &:active {
    transform: scale(0.97);
  }
}

.username-input, .password-input {
  display: grid;
  grid-template-columns: 1fr 1fr;

  div {
    width: fit-content;
  }
}
