
.map-page-button {
  background-color: red;
  margin: 10px;
  width: 20px;
  aspect-ratio: 1;
  right: 0;
  top: 0;
  position: absolute;
  
  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}