body, html {
  font-family: Tahoma;
  background-color: rgb(245, 245, 245);
}

body {
  margin: 20px
}

h1 {
  text-align: center;
  height: 30px;
  margin: 20px;
  font-weight: 550;
}

.area-card {
  width: auto;
  height: auto;
  background-color: rgb(240, 240, 240);
  margin: 10px;
  border: 2px solid transparent;
  padding: 10px;
  border-radius: 10px;
}

.selected {
  border: 3px dashed rgb(58, 58, 58);
}

.area-cards-holder {
  position: absolute;
  top: 62px;
  right: 10px;
  z-index: 1000;
  background-color: rgb(255, 255, 255);
  max-width: 200px;
  max-height: calc(90% - 30px);
  margin: 10px 0;
  overflow: scroll;
  width: fit-content;
}

.login-mask {
  z-index: 1001;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.4);
}

.login-menu {
  background-color: white;
  position: relative;
  left: 50%;
  top: 50%;
  width: fit-content;
  padding: 10px;
  margin: 10px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.map-container {
  height: 90%;
  max-height: 500px;
  margin: 20px;
  border: 2px solid rgb(212, 212, 212);
  border-radius: 5px;
}

.detailed-card {
  background-color: white;
  position: relative;
  z-index: 1001;
  left: 50%;
  top: 50%;
  width: fit-content;
  padding: 10px;
  margin: 10px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}